* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 200;
    background-color: #303032;
}


/* footer */

footer {
    padding: 40px 0;
    background-color: #303032;

}

footer .social {
    text-align: center;
    padding-bottom: 25px;
    background-color: #303032;

}

footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

footer .social a:hover {
    opacity: 1;
}


footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    text-transform: capitalize
}


footer ul li {
    display: inline-block;
    padding: 0 15px;
}


footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.75;
}

footer ul li a:hover {
    opacity: 1;
}


footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;

}


/* cards */

main {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 80px)) 1fr;
    grid-gap: 10px;
}

.text--medium {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ecf0f1;
}

.cards {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}

.card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: #39393b;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.card:hover {
    transform: translateY(-7px);
}

.card__image-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.card__image-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__content {
    padding: 20px;
}

.card__title {
    margin-bottom: 20px;
}

.card__info {
    display: flex;
    align-self: end;
    align-items: center;
}

.card__price {
    margin-left: auto;
    padding: 5px 20px;
    background-color: #303032;
    border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
    .card {
        grid-column-end: span 6;
    }
}

@media only screen and (max-width: 700px) {
    main {
        grid-gap: 20px;
    }

    .card {
        grid-column-end: span 12;
    }
}

@media only screen and (max-width: 500px) {
    main {
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }

    .cards {
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }

    .card {
        grid-column-end: span 6;
    }
}



/* holy grail layout */

.holy-grail-grid {
    display: grid;
    grid-template-areas:
        'header'
        'main-content'
        'left-sidebar'
        'right-sidebar'
        'footer';


    min-height: 100vh;
    min-height: 100svh;
}


.holy-grail-grid>* {
    padding: 1rem;
}

.holy-grail-grid .header {
    grid-area: header;
    background-color: #303032;
}

.holy-grail-grid .main-content {
    grid-area: main-content;
    background-color: #303032;

}

.holy-grail-grid .left-sidebar {
    grid-area: left-sidebar;
    background-color: #07076a;
}

.holy-grail-grid .right-sidebar {
    grid-area: right-sidebar;
    background-color: #030379;
}

.holy-grail-grid .footer {
    grid-area: footer;
    background-color: #303032;

}

/* tablet breakpoint */
@media (min-width:768px) {
    .holy-grail-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'header header'
            'main-content main-content'
            'left-sidebar right-sidebar'
            'footer footer';
    }
}

/* desktop breakpoint */
@media (min-width:1024px) {
    .holy-grail-grid {
        grid-template-columns: 1fr 4fr 4fr 1fr;
        grid-template-rows: 100px auto 100px;
        grid-template-areas:
            'header header header header'
            'left-sidebar main-content main-content right-sidebar'
            'footer footer footer footer';
    }
}