* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 200;
    background-color: #fbfbfbe8;;
}


/* footer */

footer {
    padding: 40px 0;
    background-color: #fff;
}

footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;

}

footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

footer .social a:hover {
    opacity: 1;
}


footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    text-transform: capitalize
}


footer ul li {
    display: inline-block;
    padding: 0 15px;
}


footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.75;
}

footer ul li a:hover {
    opacity: 1;
}


footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;

}


/* cards */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.card {
    border: 2px solid #e7e7e7;
    border-radius: 8px;
    padding: .5rem;
}


.card-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.card-content {
    padding: 15px;
    height: 100px;
    text-overflow: ellipsis;
}


/* grid container */
.holy-grail-grid {
    display:grid;
    grid-template-areas:
        'header'
        'main-content'
        'left-sidebar'
        'right-sidebar'
        'footer';

    
   min-height:100vh;
   min-height:100svh;
}

/* general column padding */
.holy-grail-grid > * {
    padding:1rem;
}

/* assign columns to grid areas */
.holy-grail-grid  .header {
    grid-area: header;
    background:#f97171;
}
.holy-grail-grid  .main-content {
    grid-area: main-content;
    background:#fff;

}
.holy-grail-grid  .left-sidebar {
    grid-area: left-sidebar;
    background:#f5d55f;
}
.holy-grail-grid  .right-sidebar {
    grid-area: right-sidebar;
    background:#c5ed77;
}
.holy-grail-grid  .footer {
    grid-area: footer;
    background:#fbfbfbe8;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .holy-grail-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'header header'
            'main-content main-content'
            'left-sidebar right-sidebar'
            'footer footer';
    }
}

/* desktop breakpoint */
@media (min-width:1024px) {
    .holy-grail-grid {
        grid-template-columns: 1fr 4fr 4fr 1fr;
        grid-template-rows: 100px auto 100px;
        grid-template-areas:
            'header header header header'
            'left-sidebar main-content main-content right-sidebar'
            'footer footer footer footer';
    }
}
