---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
    title: string;
    description: string;
    imagePath: string;
    altText: string;
}

const { title, description, imagePath, altText } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/*.{jpeg,jpg,png,gif}",
);

if (!images[imagePath])
    throw new Error(
        `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
    );
---

<div class="card">
    <div class="card__image-container">
        <Image src={images[imagePath]()} alt={altText} />
    </div>
    <div class="card__content">
        <p class="card__title text--medium">
            {title}
        </p>
        <div class="card__info">
            <p class="text--medium">30 Min</p>
            <p class="card__price text--medium">Free</p>
        </div>
    </div>
</div>
