---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<div class="card">
    <div class="card-content">
        <h2>{title}</h2>
        <p>{description}</p>
    </div>
    <div class="card-bottom">
        <b-button class="btn-primary">See more</b-button>
    </div>
</div>
