---
import footerData from "@data/footerData";
import Link from "./Link.astro";
import Social from "./Social.astro";
---

<footer class="footer">
    <div class="social">
        {
            footerData.social.map((social) => (
                <Social href={social.href} iclass={social.class} />
            ))
        }
    </div>
    <ul class="list">
        {
            footerData.site.map((link) => (
                <li>
                    <Link text={link.text} href={link.href} />
                </li>
            ))
        }
    </ul>
    <p class="copyright">
        Copyright &copy; <span id="copyright"></span> | All rights reserved
    </p>
</footer>

<script>
    document.querySelector("#copyright").textContent = new Date()
        .getFullYear()
        .toString();
</script>
