---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import BaseHead from "./BaseHead.astro";

const title = "My Astro Blog";
const description = "My musings about the Astro framework";
---

<!-- 
"Holy Grail" layout: Header section at the top, a footer section at the bottom, 
and three columns in the middle, with the main content flanked by two sidebars. 
-->
<html lang="en">
    <BaseHead title={title} description={description} />
    <body class="holy-grail-grid">
        <Header />

        <div class="main-content">
            <slot name="main-content" />
        </div>

        <div class="left-sidebar">Left sidebar</div>
        <div class="right-sidebar">Right sidebar</div>

        <Footer />
    </body>
</html>
